* {
  margin:0; padding:0;
}

header {
  height: 80px;
  width: 100%;
  padding: 10px 0;
  background-color: #770000;
}

header .headline{
    line-height: 60px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}

header .headline a{
  color: #FFFACD;
}

.nav-list {
    line-height: 60px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-list-item a {
  color: #FFFACD;
}

#about {
  font-size: 13px
}
	
.main{
  color:grey;
  font-size: 17px;
}



